
h1,h2,h3,h4,h5 { color:navy; }

body, td { font-family: Verdana; }

dt { font-weight: bold; }

.delim { color:Blue; font-family:Courier New; }
.element { color:maroon; font-family:Courier New; }
.attribute { color:red; font-family:Courier New; }
.value { color:blue; font-family:Courier New; }