<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest"  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="47d42a58-5feb-4312-a467-e5c933e2c163" Publisher="CN=Chris" Version="1.0.0.0" />
  <Properties>
    <DisplayName>PhoneIconMaker</DisplayName>
    <PublisherDisplayName>Chris</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PhoneIconMaker.App" >
      <VisualElements DisplayName="PhoneIconMaker" Logo="Assets\Logo.png" SmallLogo ="Assets\SmallLogo.png" BackgroundColor="transparent" Description="PhoneIconMaker" ForegroundText="light">
        <SplashScreen Image="Assets\SplashScreen.png"/>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>